# --- Core Frameworks ---
streamlit>=1.40.0
python-dotenv

# --- LangChain Ecosystem ---
# LangGraph Core
langgraph
langchain>=0.3.0
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface[full]  # [full] includes sentence-transformers & transformers
torchvision
# --- LLM Providers & Search ---
groq
google-search-results

# --- Document Processing & Vector DB ---
pymupdf
pypdf
faiss-cpu

# --- Utilities ---
requests
beautifulsoup4
