streamlit
python-dotenv
crewai
langchain
langchain-core
langchain-groq
litellm==1.35.0
groq
langchain-community
langchain-text-splitters
langchain-huggingface
pymupdf
pypdf
faiss-cpu
requests
beautifulsoup4
transformers
google-search-results
sentence-transformers
torchvision
